/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/punge.iml
/.idea/vcs.xml
main.db
/cache/music.json


# Added by cargo

/target
/.github/workflows/CI.yml
/default/mp3/Kanye West - Topic - POWERchPDTUjnWgA.mp3
